N8n
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        80
      ],
      "id": "1147c9ca-29b2-4c12-ae62-5a2995fd9d2f",
      "name": "Webhook",
      "webhookId": "157db96b-f1b3-4510-8c96-6a73b6445c79"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d24903bb-7bf0-438b-8cbb-40cd08ee03b2",
              "leftValue": "={{ $json.body.tool }}",
              "rightValue": "checkAvailableSlot",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        80
      ],
      "id": "baee6f7e-d89c-4580-a56a-ae70ac8ffd7e",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://api.cal.com/v2/slots/available",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "startTime",
              "value": "={{ $json.body.startTime.split('T')[0] + 'T00:00:00+05:30' }}"
            },
            {
              "name": "endTime",
              "value": "={{ $json.body.startTime.split('T')[0] + 'T23:59:59+05:30' }}"
            },
            {
              "name": "eventTypeId",
              "value": "5863357"
            },
            {
              "name": "timeZone",
              "value": "Asia/Kolkata"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cal-api-version",
              "value": "2024-08-13"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        -16
      ],
      "id": "c72659c3-2020-4bb6-b227-0b87a409dc2b",
      "name": "Check available slot in Cal.com",
      "credentials": {
        "calApi": {
          "id": "Wz5poFVwqpQIivnW",
          "name": "Cal account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cal.com/v2/bookings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cal-api-version",
              "value": " 2024-08-13"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventTypeId\": 5863357,\n  \"start\": \"{{ $('Webhook').item.json.body.startTime }}+05:30\",\n  \"attendee\": {\n    \"name\": \"{{ $('Webhook').item.json.body.name }}\",\n    \"email\": \"{{ $('Webhook').item.json.body.email }}\",\n    \"timeZone\": \"Asia/Kolkata\",\n    \"language\": \"en\"\n  },\n  \"metadata\": {}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        176
      ],
      "id": "6979c4e5-c8af-466a-b4f4-236ebabafb6d",
      "name": "Book Appointment",
      "credentials": {
        "calApi": {
          "id": "Wz5poFVwqpQIivnW",
          "name": "Cal account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        496,
        -16
      ],
      "id": "3a56b08c-d313-487c-b312-1c46d8eca4ba",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wBdU-ODysl_eIn6XZN_KQr53oVn5lukzWpkmr_gXWxw",
          "mode": "list",
          "cachedResultName": "Appointment Bookings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wBdU-ODysl_eIn6XZN_KQr53oVn5lukzWpkmr_gXWxw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wBdU-ODysl_eIn6XZN_KQr53oVn5lukzWpkmr_gXWxw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Webhook').item.json.body.name }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Date": "={{ $('Webhook').item.json.body.startTime.split('T')[0] }}",
            "Time": "={{ $('Webhook').item.json.body.startTime.split('T')[1] }}",
            "Booked At": "={{ $now }}",
            "Phone": "={{ $('Webhook').item.json.body.phone ?? \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Booked At",
              "displayName": "Booked At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        176
      ],
      "id": "b044d0ea-df38-473d-bcc7-a60ee425bac0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UVT9yJMTm7ryxanN",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Appointment Confirmed ✅",
        "message": "=<h2>Appointment Confirmed ✅</h2>\n\n<p>Namaskar {{ $json.Name }},</p>\n\n<p>Aapki appointment successfully book ho gayi hai.</p>\n\n<p>\n<b>Date:</b> {{ $json.Date }}<br>\n<b>Time:</b> {{ $json.Time }}\n</p>\n\n<p>\nDhanyavaad,<br>\nAppointment Booking Team\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        720,
        176
      ],
      "id": "2cacca6a-aad8-41ef-a7a6-7c3cef303c17",
      "name": "Send a message",
      "webhookId": "a497fa80-20db-4112-b716-3381c6ed1343",
      "credentials": {
        "gmailOAuth2": {
          "id": "U0weoqJRSprFEFbl",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Check available slot in Cal.com",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Book Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check available slot in Cal.com": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Book Appointment": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eec441001ec26a2b97a72fff8506999473bc264101ff483f49b1e3ec37052c70"
  }
}
